/* Basic layout */
html,
body,
#__nuxt,
#__layout,
.page-root,
main {
  @apply h-full;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-root {
  @apply flow-root w-full;
}

main {
  @apply flex flex-wrap xl:container;
  margin-top: 5.5rem;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
