/* Basic layout */
:root {
  color-scheme: dark light;
}
html,
body,
#__nuxt,
#__layout,
.page-root,
main {
  @apply h-full;
  @apply bg-gray-50 dark:bg-gray-900;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
}

.page-root {
  @apply flow-root w-full;
}

main {
  @apply flex flex-wrap xl:container;
  margin-top: 5.5rem;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-gray-700;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-gray-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-400;
}
