/* Basic layout */
:root {
  color-scheme: dark light;
}

html,
body,
#__nuxt,
#__layout,
.page-root {
  @apply min-h-[100vh];
}

html,
body,
#__nuxt,
#__layout,
.page-root,
main {
  @apply bg-gray-50 dark:bg-gray-900;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-root {
  @apply flow-root w-full;
}

.page-contents {
  @apply grid;
  grid-template-rows: 70px 1fr 70px;
}

main {
  @apply flex flex-wrap xl:container;
  margin-top: 2rem;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-gray-700;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-gray-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-400;
}
